* {
  color: olive;
}
.card_container {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  justify-content: space-between;
}
.card {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 150px;
  width: 350px;
  height: 750px;
  background-color: rgb(65, 66, 68);
  border: inset thick olive;
  overflow: hidden;
  border-radius: 30px;
}
.Button_Container {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 30px;
}

.card img {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  border-color: black;
  border: 5px solid rgb(152, 154, 39);
}

.card h3 {
  font-size: 30px;
  padding-bottom: 20px;
}
.card {
  font-size: 20px;
  padding-bottom: 20px;
}
